
<div
  style="
    border: 0;
    margin: 0 auto;
    width: 400px;
    color: #1d2327;
    font-family: Arial, Helvetica, sans-serif;
  "
>
  <div>
    <h3
      style="color: #ff9100; text-align: left; font-size: 22px; margin: 32px 0"
    >
      RadarGas
    </h3>
    <!-- <img src="logo.png" alt="RadarGas"> -->
  </div>
  <h1 style="color: #1d2327; font-size: 24px; margin: 0 0 32px 0">{{nome}},</h1>
  <h1 style="color: #1d2327; font-size: 24px; margin: 0 0 32px 0">
    Você solicitou uma recuperação de senha.
  </h1>
  <h1 style="color: #1d2327; font-size: 20px; margin: 0 0 32px 0">
    Para recuperar sua conta, crie uma nova senha clicando no botão abaixo.
  </h1>
  <a
    style="
      background-color: #ff9100;
      border-radius: 2px;
      color: white;
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      height: 56px;
      line-height: 56px;
      min-width: 100%;
      text-align: center;
      text-decoration: none;
      margin-bottom: 36px;
    "
    href="http://localhost/custom/Projeto/Projeto%20Inter/recpass/recPswrd.php?user={{user}}&key={{key}}"
  >
    Recuperar senha
  </a>
  <h2 style="color: #1d2327; font-size: 16px; margin: 0 0 12px 0">
    Se o botão não funcionar, copie o link abaixo para o navegador de sua
    preferência:
  </h2>
  <h3 style="color: #1575b4; font-size: 14px; margin: 0 0 24px 0">
    http://localhost/custom/Projeto/Projeto%20Inter/recpass/recPswrd.php?user={{user}}&key={{key}}
  </h3>
  <h2 style="color: #1d2327; font-size: 16px; margin: 0 0 24px 0">
    Se você não se lembra ou não solicitou essa ação, ignore este e-mail ou
    entre em contato com um administrador (rafagomer6@gmail.com).
  </h2>
  <div style="height: 1px; background-color: gray; margin-bottom: 10px"></div>
  <p style="color: #1d2327; font-size: 12px; margin: 0 0 14px 0">
    Você está recebendo esse email porque aceitou nossos "Termos de Uso".
  </p>
  <p style="color: #1d2327; font-size: 12px; margin: 0 0 14px 0">
    Esse email é necessário para a utilização do site e não pode ser cancelado.
  </p>
</div>
