<div
  style="
    border: 0;
    margin: 0 auto;
    width: 400px;
    color: #1d2327;
    font-family: Arial, Helvetica, sans-serif;
  "
>
  <div>
    <h3
      style="color: #ff9100; text-align: left; font-size: 22px; margin: 32px 0"
    >
      RadarGas
    </h3>
    <!-- <img src="logo.png" alt="RadarGas"> -->
  </div>
  <h1 style="color: #1d2327; font-size: 24px; margin: 0 0 32px 0">
    Login realizado em sua conta.
  </h1>
  <h1 style="color: #1d2327; font-size: 18px; margin: 0 0 32px 0">
    Login realizado em sua conta {{email}} do RadarGas.
  </h1>
  <h1 style="color: #1d2327; font-size: 18px; margin: 0 0 32px 0">
    Data: {{date}}
  </h1>
  <h1 style="color: #1d2327; font-size: 18px; margin: 0 0 32px 0">
    Ip de origem: {{ip}}
  </h1>
  <h1 style="color: #1d2327; font-size: 18px; margin: 0 0 32px 0">
    Se não reconhece esse login, clique no botão abaixo, altere a sua senha
    imediatamente
  </h1>
  <a
    style="
      background-color: #ff1e00;
      border-radius: 2px;
      color: white;
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      height: 56px;
      line-height: 56px;
      min-width: 100%;
      text-align: center;
      text-decoration: none;
      margin-bottom: 36px;
    "
    href="http://localhost/custom/Projeto/Projeto%20Inter/log-cad/recpass.html"
  >
    Criar uma nova senha
  </a>
  <div style="height: 1px; background-color: gray; margin-bottom: 10px"></div>
  <p style="color: #1d2327; font-size: 12px; margin: 0 0 14px 0">
    Você está recebendo esse email porque aceitou nossos "Termos de Uso".
  </p>
  <p style="color: #1d2327; font-size: 12px; margin: 0 0 14px 0">
    Esse email é necessário para a utilização do site e não pode ser cancelado.
  </p>
</div>
